@model IEnumerable<ProjetoCrud.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Nome)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.First().Logradouro)</th>
            <th>@Html.DisplayNameFor(model => model.First().Numero)</th>
            <th>@Html.DisplayNameFor(model => model.First().Complemento)</th>
            <th>@Html.DisplayNameFor(model => model.First().Bairro)</th>
            <th>@Html.DisplayNameFor(model => model.First().Cidade)</th>
            <th>@Html.DisplayNameFor(model => model.First().Estado)</th>
            <th>@Html.DisplayNameFor(model => model.First().Cep)</th>
            <th>@Html.DisplayNameFor(model => model.First().Tipo)</th> <!-- Tipo de Endereço -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                <td>@Html.DisplayFor(modelItem => item.Logradouro)</td>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                <td>@Html.DisplayFor(modelItem => item.Complemento)</td>
                <td>@Html.DisplayFor(modelItem => item.Bairro)</td>
                <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>@Html.DisplayFor(modelItem => item.Cep)</td>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td> <!-- Exibição do Tipo de Endereço -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
